* {
    margin:0;
    
}

#exemplo1 {
    height: 100vh;
    width: 100%;
    background-color: rgb(21, 1, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.lista-button {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
}

li {
    margin-top: 20px;
}

#text1 {
    color: whitesmoke;
    font-family: 'Permanent Marker', cursive;
}

#exemplo2 {
    display: none;
        height: 100vh;
        width: 100%;
        background-color: rgb(21, 1, 48);        
}

#exemplo3 {
    display: none;
        height: 100vh;
        width: 100%;
        background-color: rgb(21, 1, 48);      
}

#exemplo4 {
    display: none;
        height: 100vh;
        width: 100%;
        background-color: rgb(21, 1, 48);     
}

#posts2 {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
}


#exemplo3 {
    display: none;
}

#exemplo4 {
    display: none;
}

#result {
    margin-top: 20px;
    margin-left: -25px;
}


@media (min-width:370px) and (max-width:415px) {
    
    * {
        margin: 0;
    }

    #text1 {
        margin-left: 50px;
        margin-top: 50px;
    }

}

@media (min-width:360px) and (max-width:369px) {
    
    #text1 {
        margin-left: 60px;
        margin-top: 50px;
    }

}

@media (min-width:320px) and (max-width:359px) {
    
    #text1 {
        margin-left: 40px;
        margin-top: 50px;
    }

}


